.secrvice-2 {
    background-color: #F4F4F4 !important;
    padding: 100px 0px;

}


.Solutions-sec-1 {
    background-image: url(../images/bahan.png);
    background-size: cover;
    padding: 153px 0px;
    position: relative;
}

@media (max-width:768px) {

    .padding-jiro {
        padding-left: 0px !important;
    }

}