.transportation-sec-1 {
    background-image: url("../images/tran.png");
}

.transportation-sec-2 {
    padding: 100px 0px;
}

.classes li {
    font-size: 20px;
    color: #1c1f35;
}

.transportation-sec-3 {
    padding: 100px 0px;
}

.benefit p {
    font-size: 20px;
    color: #1c1f35;
}